Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  performance-*,
  -performance-no-int-to-ptr,portability-*,
