name: Create Release
on:
  push:
    branches: [ main ]
permissions:
  contents: write
  packages: write
  deployments: write
  pages: write
  id-token: write
jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        build_type: [static, shared]
        asio: [with_asio, no_asio]
        include:
          - os: windows-latest
            platform: windows
          - os: ubuntu-latest
            platform: linux
          - os: macos-latest
            platform: macos
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Create build directory
        run: cmake -E make_directory build
      
      - name: Configure CMake (Windows)
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: >-
          cmake -B build 
          -DCMAKE_BUILD_TYPE=Release 
          -DCMAKE_RUNTIME_OUTPUT_DIRECTORY=GekkoLib/out
          -DCMAKE_LIBRARY_OUTPUT_DIRECTORY=GekkoLib/out
          -DBUILD_SHARED_LIBS=${{ matrix.build_type == 'shared' && 'ON' || 'OFF' }} 
          -DNO_ASIO_BUILD=${{ matrix.asio == 'no_asio' && 'ON' || 'OFF' }}
          .

      - name: Configure CMake (Unix)
        if: matrix.os != 'windows-latest'
        run: |
          cmake -B build \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_RUNTIME_OUTPUT_DIRECTORY=GekkoLib/out \
          -DCMAKE_LIBRARY_OUTPUT_DIRECTORY=GekkoLib/out \
          -DBUILD_SHARED_LIBS=${{ matrix.build_type == 'shared' && 'ON' || 'OFF' }} \
          -DNO_ASIO_BUILD=${{ matrix.asio == 'no_asio' && 'ON' || 'OFF' }} \
          .
      
      - name: Build
        run: cmake --build build --config Release
        
      - name: List output directory contents
        run: |
          if [ -d "GekkoLib/out" ];then
            ls -R GekkoLib/out
          else
            echo "Output directory does not exist!"
          fi
      
      - name: Prepare files for packaging
        run: |
          mkdir -p package/Release/${{ matrix.platform }}/lib
          
          if [ -d "GekkoLib/out" ]; then
            cp -r GekkoLib/out/* package/Release/${{ matrix.platform }}/lib/ || true
          else
            echo "No binaries found in GekkoLib/out/!"
          fi
          
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-builds-${{ matrix.build_type }}-${{ matrix.asio }}
          path: package/Release
          retention-days: 1

  create_release:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ success() }}
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v4
        
      - name: Get version
        id: version
        run: |
          echo "version=$(date +'%Y%m%d%H%M%S')-$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: downloads
      
      - name: Create OS-specific packages
        run: |
          for os_platform in windows linux macos; do
            mkdir -p "GekkoNet-${os_platform}"
            mkdir -p "GekkoNet-${os_platform}/${os_platform}/include"

            cp -r GekkoLib/include/gekkonet.h "GekkoNet-${os_platform}/${os_platform}/include" || true
              
            for build_variant in static-with_asio static-no_asio shared-with_asio shared-no_asio; do
              cp -r downloads/${os_platform}-builds-${build_variant}/* "GekkoNet-${os_platform}/" || true
            done
            tar -czf "GekkoNet-${os_platform}-Release.tar.gz" "GekkoNet-${os_platform}"
          done
      
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.version.outputs.version }}
          name: Release ${{ steps.version.outputs.version }}
          draft: true
          prerelease: false
          files: GekkoNet-*-Release.tar.gz

  generate_docs:
    needs: create_release
    runs-on: ubuntu-latest
    if: ${{ success() }}
    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

      - name: Configure CMake for Documentation
        run: |
          cmake -B build \
          -DBUILD_DOCS=ON \
          -DCMAKE_BUILD_TYPE=Release \
          .

      - name: Generate Documentation
        run: cmake --build build --target docs

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload Documentation
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/docs/html'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
